@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';


/* Full Calendar : change of default settings */
.fc-minor td {
    border-top: 0 !important;
  }
.fc-toolbar.fc-header-toolbar {
margin-bottom: 0.5em; }

/* Calendar Header */
.calendar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 1em
}
  .calendar-headerNavLeft {
    width: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 15px
  }
    .calendar-headerNavLeft-chevronIcon {
      color: #052040;
      font-size: 20px
    }
    .calendar-headerNavLeft-dateTitle {
      margin:0;
      text-align: center;
      color: #052040
    }

  .calendar-headerNavRight {
    margin-right: 15px;
    font-size: 14px;
    color: #052040;
    text-decoration: underline
  }

/* Columns Header */
.calendar-week-column-header {
  margin: 0.5em auto 0.5em 1em;
  margin-left: 1em;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  line-height:1.1
}
  .calendar-week-column-header-text {
    color:#6F6E6E;
    font-weight:normal;
    margin:0;
    padding:0
  }
  .calendar-week-column-header-number {
    color:#000;
    font-weight:normal;
    font-size:40px;
    margin-left: 0.3em;
  }
.calendar-default-column-header {
  color:#000;
  font-weight:normal;
  font-size: 16px;
  margin:0;
  padding:0

}

/* Events */
.calendar-event-noneditable {
  cursor: default
}
