@import url('https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway',sans-serif;
  font-weight: 800;
  color: #052040;
}

body {
  font-family: 'Raleway',sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: .03em;
  color: #585858;
  overflow-x: hidden!important;
  -webkit-font-smoothing: antialiased;
}

/* TITRES DE PAGES*/

.pageTitle {
  font-weight: 900;
  font-size: 35px;
  margin: 0;
  color: #000;
  margin-bottom: 1em;
}

.pageSubTitle {
  font-weight: 700;
  font-size: 1.5em;
  margin: 0;
  color: #ffff;
  background-color: #052040;
  width: fit-content;
  padding: 10px 20px;
  margin-top: 2em;
}

.App {
  text-align: center;
}

p {
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.logo img {
  border-radius: 50%;
}
.logo {
  padding: 30px;
}

.sidebar {
  min-width: 300px;
  max-width: 300px;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  flex-grow: 1 !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  flex-grow: 5;
  overflow: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Sign-in sign-up Agent */
.pro-sign-content {
  height: 100vh;
  background-color: #052040;
  color: #FFF
}
.pro-sign-content {
  display:flex;
  flex-direction: column;
  align-items: center;
}
.logo-ttm-sign {
  margin: 3em 1em 1em 1em;
  font-size: 35px;
}
.pro-sign-box {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  /* height: 50%; */
  padding: 2% 7%;
  background-color: #f0f2f5;
  border-radius: 5px;
  box-shadow: 0 0 30px #000;
}
.pro-sign-box-title {
  color: #052040;
  margin-bottom:1em;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}



.ant-form-vertical .ant-form-item-label, .ant-col-24.ant-form-item-label, .ant-col-xl-24.ant-form-item-label {
  padding: 0 0 5px;
}

.button-sign-validate {
  margin: auto;
  width:100% !important
}

.sign-error-text {
  color: #ff6b6b;
  margin-bottom: 20px;
}

.forgotten-password {
  text-align: center;
  color:#052040;
  font-size: 13px;
}

/* Modal */
.input-modal {
  display: flex;
  align-items: center;
  margin-bottom: 1em
}
  .input-modal-label {
    margin: 0 1em
  }

.offer-modal {
  text-align: center;
}

.offer-modal p {
  margin-bottom: 10px;
}

.offer-modal span {
  font-weight: 700;
  display: block;
}

.modal-footer {
  padding: 0.6em;
  text-align: center;
}


.modal-footer-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal-footer-button-delete {
  margin-right: auto !important;
}

.add-slot-alert-fail-db {
  text-align: left;
  padding: 8px 15px !important;
}

/* Annonce : card */
.annonce-element {
  margin: 15px 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px #bbbbbb;
  transition: all .2s ease-in-out;
}
.annonce-element:hover {
transform: scale(1.02);
box-shadow: 0 0 10px #777777;
cursor: pointer;
}
.annonce-element img {
  max-height: 150px;
  object-fit: cover;
}
.annonce-text {
  padding: 1em;
}
.annonce-element .annonce-price-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.annonce-price-container span.annonce-price {
  font-weight: 700;
  font-size: 1em;
  color: #888;
}
.annonce-price-container .annonce-state.open-true {
  width: 15px;
  height: 15px;
  background-color: #41bb41;
  border-radius: 50%;
}
.annonce-price-container .annonce-state.open-false {
  width: 15px;
  height: 15px;
  background-color: #ff6b6b;
  border-radius: 50%;
}
.annonce-address-title {
  font-weight: 700;
  font-size: 1.5em;
  margin: 0;
  color: #333;
}
.annonce-address-sub {
  font-size: 1em;
  color: #888;
  margin: 0 0 10px 0;
}
.annonce-infos {
  display: flex;
  justify-content: space-around;
  background-color: #f1f1f1;
  padding: 1em;
}
.annonce-infos span {
  font-weight: 700;
}
.annonce-infos span span {
  font-weight: 300;
  color: #999;
}
.annonce-infos span {
  align-items: center;
  font-weight: 700;
  display: flex;
}
.annonce-infos span img {
  margin-right: 5px;
}

.unclickable {
  pointer-events: none;
  opacity: 0.5;
}

.offer-section {
  border-bottom: 1px solid #d2d2d2;
  padding: 1em 0;
  margin: 1em 0;
}


.offer-carrousel {
  padding: 1rem 0;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.offer-carrousel::-webkit-scrollbar {
  background-color: transparent;
  height: 2vmin;
}

.offer-carrousel::-webkit-scrollbar-thumb {
  background-color: #e7e7e7;
  border-radius: 1vmin;
}

.offer-carrousel .ant-col {
  flex: 1 0 250px;
  margin-left: 1rem;
  scroll-snap-align: start;
  max-width: 250px;
}

.offre-element {
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px #bbbbbb;
  transition: all .2s ease-in-out;
  justify-content: center;
}

.offre-element:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px #777777;
  cursor: pointer;
}


.offre-amount {
  text-align: center;
  background-color: #ffaf37;
  padding: 0.5em;
  font-size: 1.3em;
  font-weight: 700;
  color: #fff;
}

.offre-buyer, .offre-money {
  padding: 0.5em;
  border-bottom: 1px solid #eee;
  text-align:center;
}

p.offre-buyer-name {
  font-weight: 700;
  font-size: 1.3em;
}

.offre-money span {
  font-weight: 700;
}

.offre-bottom {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1em;
}
.offre-element button {
  margin: 0 auto 20px auto;
}

/* formulaires */

.formLabel {
  font-weight: 700;
  padding-top : 3%;
  padding-bottom : 1%;
}

.ant-checkbox-group-item {
  display: block;
}

/* BOUTTONS (from Ant) */

.button-validate {
  color: #FFF;
  padding: 5px 12px;
  background: #116BD9;
  border-color: #116BD9;
  height: auto;
}

.button-accept {
  color: #FFF;
  padding: 5px 12px;
  background: #a4d45a;
  border-color: #a4d45a;
  height: auto;
}

.button-decline {
  color: #FFF;
  padding: 5px 12px;
  background: #e86b43;
  border-color: #e86b43;
  height: auto;
}

.button-back {
  color: #FFF;
  padding: 5px 12px;
  background: #116BD9;
  border-color: #116BD9;
  height: auto;
}

/* Page mes biens (pro) */

.ads-list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-add {
  font-size: 18px;
  color: #052040 !important;
  font-weight: 600;
  border:0
}

.filter-header {
  border: 0;
  border-radius: 10px;
}
.ant-collapse-borderless > .ant-collapse-item {
  border-bottom: 0 !important
}

.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
  border-top: 2px solid #f0f2f5
}

.filter-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 22px;
}

.filter-label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0.5em
}

.filter-radio-button {
  font-size: 13px;
  display: block;
}
.filter-radio-button-main {
  font-size: 13px;
  display: block;
  font-weight: 500;
}

/* PAGE ANNONCE */

.section {
  background-color: #FFFFFF;
}

.row {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  margin-top: 0;
}

.dark-row-radius {
  background: #F7F8F9;
  border-radius: 0px 0px 10px 10px;
}

.dark-row {
  background: #F7F8F9;
}

.row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

/* IMAGE SLIDER (doc : https://www.npmjs.com/package/react-slideshow-image)  */

.slide-container {
  width: 100%;
  margin : 0;
}

.each-slide {
  height: 10%;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  min-height: 450px;
}

.section-text {
  padding: 2%;
}

.section-text p {
  padding: 0.25%;
}

.ad-main-details img {
  margin: 0 10px;
}

.ad-main-details span {
  font-weight: bold;
}

.ant-btn-background-ghost.ant-btn-primary {
  color: #001428;
  background-color: transparent;
  border-color: #001428;
  text-shadow: none;
}

.agent-resume button {
  margin: 0;
  border: 2px solid #001428;
  line-height: 13px;
}

.agent-resume .ant-btn-primary:hover, .agent-resume .ant-btn-primary:focus {
  color: #fff !important;
  border-color: #001428;
  background-color: #001428 !important;
}

.agent-action {
  text-align: center;
  position: fixed;
  right: 0;
  top: 80px;
  background-color: #fff;
  padding: 1em 2em 1em 1.5em;
  box-shadow: 0 0 5px #b1b1b1;
  z-index: 9999;
  border-radius: 10px 0 0 10px;
}

.agent-resume {
  padding: 1em 2em;
}

.agent-action img {
  margin: 10px 0;
}

.agent-action {
  text-align: right;
}

.ant-collapse-header{
    font-weight: 700;
    font-size: 1.5em;
    color: #052040;
  }

  /* Buyer pages styles  */
  
  .buyer-ad-container{
    display: flex;
    flex-direction: row;
  }

.buyer-left-content{
  width: 75%;
}

.buyer-right-content{
  width: 100%;
  display: flex;
  justify-content: flex-end;

}

.timeslot-picker {
  width: 280px;
  height: 280px;
  margin-left: 10px;
  margin-top: 73px;
  background: #F7F8F9;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}