html, body {
    height:100%;
    font-family: 'Assistant',  ;
}

h2 {
    font-size: 20px;
}

.container {
    margin:0;
    height:100%
}
    .row {
        height: 100%
    }

.navbar {
    background-color: #052040;
    height: 100%;
    color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
}

    .logo-agence {
        width :30%;
        margin: 0 auto;
    }

    .nav-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
        .nav-item {
            display: flex;
            justify-content: flex-start ;
            align-items: center;
            margin: 1em auto
        }
            .nav-item-logo {
                width: 15%;
                margin-right: 1em
        }
            .nav-item-title {
                margin: 0;
                color: #FFF 
            }
        
        .nav-link {
            color: #FFF;
            text-decoration: underline;
        }